@import url('fonts/fonts.css');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.mask{
    background: url(assets/background.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
}

/* MENU */
.menu{
    position: sticky;
    top: 0;
    display: flex;
    padding: 20px 3vw;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.menu__logo{
    height: 40px;
}
.menu__link{
    margin: 0 .6vw;
    color: #f2f2f2;
    font-family: "Raleway-Light";
    font-size: 16px;
    text-decoration: none;
}
.menu__link:hover{
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}




/* BANNER */
.banner{
    height: calc(100vh - 80px);
    background: url(assets/banner.png) center no-repeat;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__text{
    /* width: 60vw;
    height: 15vw; */
    font-family: "Raleway-Medium";
    font-size: 6vw;
    color: #f2f2f2;
    text-shadow: .5vw .5vw 1vw #000;
    display: flex;
}
.typewrite > .wrap { 
    border-right: 0.05em solid; 
    animation: caret 1s steps(1) infinite;
}


/* SECTIONS GERAIS */
.caixa{
    background: url(assets/background.png);
    background-size: cover;
}
.caixa__header{
    position: relative;
    padding: 20px 3vw;
    background: linear-gradient(135deg,#0f0f0f 50%, #888 50%);
    z-index: 50;
}
.caixa__title{
    font-family: "Raleway-Medium";
    color: #f2f2f2;
    font-size: 48px;
}
.caixa__box{
    padding: 5vw 5vw 8vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



/* VALIDE SEU JOGO */
.validate{
    padding: 3vw 5vw;
    display: flex;
    justify-content: center;
}
.validate__box{
    width: 33vw;
    margin: 5vw;
    padding: 3vw 5vw;
    background: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.validate__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.validate__icon{
    width: 20vw;
    height: 20vw;
    background: #a8a8a8;
    border: 2.5vw solid #8a8a8b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.validate__icon .fas{
    font-size: 10vw;
    color: #234a71;
}
.validate__title{
    margin: 1vw 0;
    font-family: "Raleway-Medium";
    font-size: 2.5vw;
    color: #333438;
}
.validate__text{
    font-family: "Raleway-Light";
    font-size: 1.5vw;
    color: #333438;
    text-align: center;
}
.validate__button{
    margin: 1vw 0;
    padding: 1vw 2vw;
    background: #333438;
    color: #FFF;
    font-family: "Raleway-Medium";
    font-size: 1vw;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: .1vw .3vw 0 #656568;
    transition: .5s all;
}
.validate__button:hover{
    background: #656568;
    text-decoration: none;
    color: #FFF;
    box-shadow: .1vw .3vw 0 #333438;
}





 /* QUEM SOMOS */
.about__video{
    width: 70vw;
    height: 39.375vw;
    margin-bottom: 5vw;
}
.about__text{
    margin-bottom: 2.5vw;
    font-family: "Raleway-Light";
    font-size: 2.2vw;
    text-align: center;
}

/* NOSSA EQUIPE */
.team__box{
    width: 22vw;
    margin: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team__img{
    width: 80%;
    border-radius: 50%;
}
.team__title{
    margin: 1vw 0;
    font-family: "Raleway-Medium";
    font-size: 2.5vw;
}
.team__subtitle{
    font-family: "Raleway-Light";
    font-size: 1.5vw;
}
.team__text{
    margin: 1vw 0;
    font-size: 1.2vw;
    text-align: center;
}



/* NOSSOS CLIENTES */
.client{
    width: 18vw;
    height: 18vw;
    margin: 3.5vw;
}
.client--large{
    width: 25vw;
}
.client--medium{
    width: 15vw;
    height: 20vw;
}
.client img{
    width: 100%;
    height: 100%;
}


.modal .modal-dialog { 
    width: 55vw; 
    max-width: 55vw;
} 

.modal__services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__service{
    position: relative;
    width: 10vw;
    height: 10vw;
    margin: 0 2vw;
    padding: 1vw;
    background: #333438;
    color: #FFF !important;
    font-family: "Raleway-Medium";
    font-size: 2.5vw;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    box-shadow: .1vw .3vw 0 #656568;
    transition: .5s all;
}
.modal__service:hover{
    background: #656568;
    text-decoration: none;
    color: #FFF;
    box-shadow: .1vw .3vw 0 #333438;
}
.card-body{
    text-align: center;
}
.modal-footer{
    display: flex;
    justify-content: center;
}


.footer{
    position: relative;
    padding: 24px 3vw;
    background: #000;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    font-size: 20px;
    color: #c8c8c8;
}
.social{
    font-size: 28px;
    color: #c8c8c8;
    margin: 0 8px;
}
.social:hover{
    font-weight: bolder;
    color: #FFF;
}




/* FORM */
.form__box{
    width: 70vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .3);
}
.form__title{
    margin-bottom: 2vw;
    font-family: "Raleway-Medium";
    font-size: 3vw;
    color: #262626;
}
.form__item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form__label{
    margin: .8vw 0;
    margin-right: 1vw;
    font-family: "Raleway-Light";
    font-size: 1.5vw;
}
.form__required{
    color: #F00;
    font-size: 3vw;
    line-height: 0;
    position: relative;
    top: .8vw;
}
.form__input{
    width: 100%;
    margin-bottom: 1vw;
    background: #fff;
    padding: 12px;
    font-family: "Raleway-Light";
    font-size: 1vw;
}